

/*this is my style annotation*/ 

#main{
    text-align: center;
    font-size: xx-large;
    border-style: dashed;
}
        

body{
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    font-size: xx-small;
    background-color:antiquewhite;
   
}

#text{
    background-color: brown;
    font-size: x-small;}

#important{
    background-color: aquamarine;
    font-size: x-large;
    text-align: center;
    font-style: italic;
}



    